##ignore this file##
/yolo3_deepsort/model_data/*.h5
/yolo3_deepsort/model_data/*.mp4
/yolo3_deepsort/__pycache__/
/yolo3_deepsort/deep_sort/__pycache__/
/yolo3_deepsort/tools/__pycache__/
/yolo3_deepsort/yolo3/__pycache__/
/3d reconstruction/__pycache__/
/3d reconstruction/img1/
/3d reconstruction/img2/
/3d reconstruction/*.ipynb